.container {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: auto;

  .title {
    display: flex;
    justify-content: center;
  }

  .item-container {
    display: flex;
    justify-content: center;
  }

  .item {
    display: flex;
    justify-content: center;
  }

  .icon {
    display: flex;
    margin-top: 4px;
    margin-left: 5px;
  }

  .button {
    display: flex;
    justify-content: center;

    .remove-button {
      margin-left: auto;
    }
  }
}
