.container {
    display: flex;
    margin-left: 10vw;
    .title {
        display: flex;
        justify-content: center;
    }
    .item {
        display: flex;
        justify-content: center;
    }
    .button {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}