.container {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: auto;
    .title {
        display: flex;
        justify-content: center;
    }
    .form {
        display: flex;
        justify-content: center;
    }
    .button {
        display: flex;
        justify-content: center;
        .submit-button {
            margin-left: auto;
        }
    }
}